body {
  /* height: 1000px;
  width: 1000px; */
  display: flex;
  flex-direction: column;
  margin: 0 0;
}

header {
  text-align: center;
}

div {
  height: auto;
  width: auto;
  margin: 0 0;
}

.row {
  height: 400px;
  width: 8px;
  display: flex;
  flex-direction: column;
}

img {
  height: 0;
  width: 0;
}

.game-view {
  display: flex;
  flex-direction: row;
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#canvas {
  border: 20px solid black;
  height: 700px;
  width: 700px;
}

#canvas-div {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  border: 8px solid black;
}

.empty {
  background-color: white;
  height: 8px;
  width: 8px;
}

.wall {
  background-color: black;
  height: 8px;
  width: 8px;
}

.hidden {
  display: none;
}
