body {
  /* height: 1000px;
  width: 1000px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0;
}

div {
  height: auto;
  width: auto;
  margin: 0 0;
}

.row {
  height: 100px;
  width: 5000px;
  display: flex;
  flex-direction: row;
}

#canvas {
  border: 20px solid black;
}

#canvas-div {
  width: 5000px;
  height: 5000px;
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  border: 100px solid black;
}

/* #canvas {
  position: relative;
} */

.empty {
  background-color: white;
  height: 100px;
  width: 100px;
}

.wall {
  background-color: black;
  height: 100px;
  width: 100px;
}
